.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 2rem;
}
.card-wrapper{
   
    width: 19vw;
    height: 75vh;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-head{
    margin: 2rem 2rem;
    border-bottom: 1px solid gray;
}
.card-body{
    margin:3rem 2rem;
}
.plan-title{
    font-size: 1.5rem;
}
.price{
    font-size: 2rem;
}
.t1{
    color: orange;
}
.t2{
    color: skyblue;
}
.t3{
    color: lightgreen;
}
.btn-container{
width: auto;
margin-top: 2rem;
}
.btn{
width: 100%;
height: 2rem;
border-radius: 0.5rem;
border: none;
color: gray;
}
.btn2{
background-color: white;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.btn3{
background-color: lightgreen;
color: white;
}
.fa1{
color: orange;

}
.fa2{
color: skyblue;

}
.fa3{
color: lightgreen;

}
.fa-solid{
    margin: 0 0.5rem;
}